@charset "UTF-8";

@keyframes shadow {
  from,
  10% {
    visibility: hidden;
  }
  23% {
      opacity: 0.05;
    }
  24%, 28% {
      opacity: 0;
  }
  27% {
      opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}