@charset "UTF-8";

@keyframes shadow {
  from,
  10% {
    visibility: hidden;
  }
  23% {
      opacity: 0.05;
    }
  24%, 28% {
      opacity: 0;
  }
  27% {
      opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.pre-load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/load.svg') center no-repeat #fff;
}