@charset "UTF-8";

@keyframes shadow {
  from,
  20% {
    visibility: hidden;
  }
  23% {
    filter: drop-shadow(14px 10px 50px #006633);
      opacity: 0.05;
    }
  24% {
      opacity: 0;
  }
  27% {
    filter: drop-shadow(14px 10px 100px #006633); 
      opacity: 0.3;
  }
    28% {
      opacity: 0;
  }
  to {
    opacity: 1;
  }
}