.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

div.card {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.card-image {
  text-align: center;
  font-size: 1.5rem;
  color: #191919;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.card-text {
    text-align: center;
    margin: 10px;
}

.bg-ea {
    background-image: url("../images/profilepic.jpg");
}

.bg-r {
    background-image: url("../images/profilepic.jpg");
}

.bg-pt {
    background-image: url("../images/profilepic.jpg");
}

.bg-ps {
    background-image: url("../images/profilepic.jpg");
}

.bg-ia {
    background-image: url("../images/profilepic.jpg");
}