/* Buttons */
/**********************/

/* Border Black */
/**********************/
button:focus {
    outline: 0;
}

button.btn-black {
  text-align: center;
  background: white;
  border: 2px solid #191919;
  cursor: pointer;
  font-size: 1em;
  color: #191919;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button.btn-black > a {
    text-decoration: none;
    color: inherit;
}
button.btn-black:hover {
  background: #191919;
  color: white;
  transition: 0.3s;
  border: 2px solid #191919;
}

/* Border White */
/**********************/
button.btn-white {
  text-align: center;
  background: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 1em;
  color: #191919;
  padding: 15px 30px;
  border-radius: 5px;
}

button.btn-white > a {
    text-decoration: none;
    color: inherit;
}
button.btn-white:hover {
  background: #191919;
  color: white;
  transition: 0.3s;
  border: 2px solid #191919;
}