.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%s23006633' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%s23006633' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

details > summary::-webkit-details-marker {
    outline-style: none;
    color: lightgrey;
    font-size: 180%;
}

details > summary, details > summary:focus {
outline-style: none;
display: inline-flex;
align-items: baseline;
}

b, h5, h6, .member-name {
    color: green;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=006633');
}

.green-text {
    color: #006633;
}

.green-text-link {
    color: #006633;
}

.green-text-link:hover, .nav-black-link:hover {
    color: #ffcc33;
}

.nav-black-link {
    color: black;
}

.yellow-active {
    color:#ffcc33;
}

.btn-green {
    background-color: #006633;
    opacity: 0.8;
    transition: 0.3s;
}

.btn-green:hover {opacity: 1}

.btn-yellow {
    color: #ffcc33;
    opacity: 0.8;
    transition: 0.3s;
}

.btn-yellow:hover {
    opacity: 1; 
    color: #ffcc33;
}

.btn-text-white {
    color: white;
}

.btn-text-white:hover {
    text-decoration: none;
    color: white;
}