@media (max-width: 550px) {
    .text-logo {
        width: 10rem;
<<<<<<< HEAD
        display: inline-flex; 
=======
        display: inline-flex;
      
>>>>>>> 7194f044955cd55672558be0d9d44765427ac168
    }

    .text-logo > a {
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        padding-top: .86rem;
        padding-bottom: .86rem;
        font-size: 16px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    #nav-list {
        visibility: hidden;
    }

    .dropbtn {
        display: flex;
        background-color: transparent;
        margin-top: .95rem;
        margin-bottom: .95rem;
        margin-left: 4rem;
        margin-right: 2rem;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #191919;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        text-align: center;
        color: white;
        margin: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease 0s;
    }

    .dropdown a:hover {background-color: #006633;}

    .show {display: block;}

    /* Banner */
    .b-text {
        margin-left: 6%;
        margin-right: 6%;
    }

    .b-text > h1 {
        font-size: 20px;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
    }
    
    .b-text > p {
        font-size: 1.2rem;
        text-align: center;
        color: white;
    }
    
    #banner-logo {
        width: 150px;
        z-index: 1;
        animation: shadow 2s;
        filter: drop-shadow(14px 10px 50px #006633);
    }
    
    #banner {
        height: 20vh;
    }
    
    /* Section Header/Title */
    .section-text > h1 {
        font-size: 2rem;
    }

    .section-text > p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    /* Section Body Container */
    .body-container > h1 {
        font-size: 2rem;
        text-align: center;
        color: #191919;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .body-text > p {
        font-size: 1.5rem;
        text-align: center;
    }
}