html {
  background-color: #191919;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Section */
/***************************/
section.navigation nav {
  display: flex;
  font-size: 1em;
  align-items: center;
  flex: 1;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background-color: #191919;
  color: white;
  margin: 0px;
  padding: 0px;
}
section.navigation nav a {
  flex: 4;
  padding: 1em;
  color: white;
  text-decoration: none;
}
section.navigation nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
section.navigation nav ul li {
  flex: 1;
  padding: 1em;
}
section.navigation nav ul li a {
  color: white;
  text-decoration: none;
}
section.navigation nav ul li a:hover {
  color: #F4E409;
}
@media screen and (max-width: 834px) {
  section.navigation > nav {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    align-items: center;
  }
}

/* Introduction Section */
/***************************/
.black-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191919;
  color: white;
  height: 100vh;
}

#intro-figcap {
  font-size: 1.15em;
  padding: 1em 5em 1em 5em;
}

#intro-arrow {
   padding-top: 5em;
}

/* Social Section */
/***************************/

.social-items {
  display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* People Section */
/***************************/
.white-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 100vh;
}

.people-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
}

.people-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

/* Resources Section */
/***************************/
.green-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #006633;
  color: white;
  height: 100vh;
}

.items {
  display: flex;
  justify-content: space-around;
  padding-left: 1em;
  padding-right: 1em;
}

.item {
  display: inline-block;
  text-align: center;    
}

/* footer Section */
/***************************/
footer {
  background-color: #191919;
  color: white;
  text-align: center;
}

