html {
    background-color: #191919;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
    
section.social > container > h1, section.people > container > h1, section.resources > container > h1 {
  font-size: 2em;
  text-align: center;
  line-height: .5em;
  font-weight: 500;
}

section.social > container > h2, section.people > container > h2, section.resources > container > h2 {
    font-size: 1em;
    text-align: center;
    line-height: .5em;
    font-weight: 300;
    padding-bottom: 3em;
}

section.navigation {
  nav {
    display: flex;
    font-size: 1em;
    align-items: center;
    flex: 1;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #191919;
    color: white;
    margin: 0px;
                padding: 0px;

            p {
                flex: 4;

                    margin: 0px;
                padding: 0px;
                padding-left: 1em;
            }

            ul {
                margin: 0px;
                padding: 0px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                li {
                    flex: 1;
                    padding: 1em;
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    
                    a:hover {
                        color: #F4E409;
                    }
                }
            }

            @media screen and (max-width: 834px) {
                    display: flex;
                    font-size: 1em;
                    flex-direction: column;
                    align-items: center;
            }
        }
    }

    section.intro > container {
        background-color: #191919;
        color: white;
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
            figcaption {
    text-align: center;
    font-size: 1em;
    padding: 1em 5em 1em 5em;
}
    }

    section.social > container {
          background-color: #006633;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
         items {
             display: flex;
    justify-content: space-around;
            section {
                 display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
            }
        }
    }
    
    section.people > container {
         height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-color: white;
       h1 {
            padding-bottom: 3em;
        }
        
        items {
            display: flex;
            justify-content: space-around;
            
            section {
                  display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
            }
        }
    }
    
  section.resources > container {
          background-color: #006633;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
        items {
             display: flex;
    justify-content: space-around;
            section {
                 display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
            }
        }
    }
    
    footer {
        background-color: #191919;
        color: white;
        text-align: center;
    }
    
    @media screen and (min-width: 835px) {
    div {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    section {
        flex: 1;
    }
}

button.btn {
    text-align: center;
    background: white;
    border: 2px solid #191919;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    padding: 14px 28px;
    border-radius: 5px;
}

button.btn:hover {
    background: #191919;
    color: white;
}

